.flex {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.rowReverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.max {
  width: 100%;
}

.gap8 {
  gap: 8px;
}

.gap16 {
  gap: 16px;
}

.gap24 {
  gap: 24px;
}

.gap32 {
  gap: 32px;
}
.gap54 {
  gap: 54px;
}

