
.textWithToc {
    display: flex;
    flex-direction: column;
    height: 80vh; 
}

.contentContainer {
    overflow-y: auto; 
    flex-grow: 1; 
}
.up {
    margin-left: auto;
    margin-top: 10px;
}

