.wrapper{
    padding-top: 20px;
    background-color: var(--color-white);
    width: 100%;
    border: 0.5px solid var(--text-color-border-grey);
    border-radius: var(--border-radius-m);
    background-color: var(--color-white);

}
.tableContainer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    //border: 0.5px solid var(--text-color-border-grey);
    border-radius: var(--border-radius-m);
    background-color: var(--color-white);
    overflow-x: auto;  
    max-height: 400px;  
    overflow-y: auto;   
}
table {
    width: 100%;
}
.tableBodyContainer {
    max-height: 500px; 
    overflow-y: auto;  
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--text-color-accent-blue);
}

th {
    background-color: var(--background-color-logo);
    font-weight: bold;
    position: sticky; 
    top: 0; 
    z-index: 1; 
}
tbody tr:hover {
    background-color: var(--background-color-button);
}

.noMatches {
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color-accent-pink);
}
.smallTables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;
    gap: 16px;
}

.smallTables > div {
    flex: 1; 
    flex-wrap: wrap; 
    min-width: 0; 
    display: flex;
    flex-direction: column; 
}

.detailsTable {
    flex: 1;
    padding: 20px;
    border: 0.5px solid #E0E3E5;
    border-radius: var(--border-radius-m);
    background-color: var(--color-white);
    height: 100%; 
    min-height: 200px; 
    max-height: 400px; 
    overflow: hidden; 
}

.detailsTable table {
    width: 100%;
    border-collapse: collapse;
}

.detailsTable tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto; 
}

.detailsTable thead,
.detailsTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; 
}
td {
    word-wrap: break-word;  /* Переносит текст, если он слишком длинный для ячейки */
    white-space: normal;    /* Позволяет тексту переноситься */
    overflow-wrap: break-word; /* Альтернативное свойство для старых браузеров */
  }

.selectedRow {
    background-color: var(--selected-row); 
}

tr:hover {
    background-color: var(--background-color-button); 
}

.selectedRow:hover {
    background-color: var(--selected-row); 
}

.notesTitle {
    font-weight: bold;
    background-color: var(--background-color-logo);
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--text-color-accent-blue);
    margin-top: 15px;
}
.notesBody{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--text-color-accent-blue);
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    background-color: transparent;
    z-index: 1;
    touch-action: none;
}

.resizer.isResizing {
    background-color: var(--text-color-remove);
}
th {
    position: relative;
}


@media (max-width: 1400px) {
    .detailsTable {
        max-height: 200px;
        overflow-y: auto;
    }

    .detailsTable td, .detailsTable th { 
        font-size: var(--font-size-xssmall);  
    }

    .notesTitle {
        font-size: var(--font-size-xssmall);
    }

    .notesBody {
        font-size: var(--font-size-xssmall);
    }

    .noMatches {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .detailsTable {
        flex: 1 1 100%; 
    }
}
